@media (min-width:769px) and (max-width:1024px){
    body{
        background:url(../img/background3.jpg) fixed rgba(255, 255, 255, 0.4) ;
        background-blend-mode: screen;
        background-attachment:fixed
      }
    .header{
        width: 550px;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    /* home */
    .page1{
      padding: 220px 0 120px 70px;
        justify-content: space-between;
    }
    .page1 h2{
        font-size: 100px;
        width: 600px;
        /* margin-bottom: 140px; */
    }
    .page1 p{
        width: 80%;
        font-size: 18px;
        padding: 0 10px 8px 5px;
    }
    .page1 p span{
        width: 315px;
    }
    .page1 p span:nth-of-type(2){
        width: 225px;
    }
    /* home end */
    /* about */
    .page2{
        overflow: hidden;
        align-items: flex-end;
        padding: 100px 10px 100px;
    }
    .sentence{
        width: 330px;
        top:-35px;
        transform: translateY(-40%);
        font-size: 45px;
    }
.sentence span{ 
    font-size: 10px;
    padding: 0;
}
    .my{
        width: 760px;
        align-items: flex-end;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    .my_img{
        border-radius: 20px;
      height: 350px;
        width: 45%;
    }
    .my_info{
        padding: 0;
        width:45% ;
    }
    .my_info ul li p:nth-of-type(1){
        font-size: 20px;
        width: 80px;
        margin-right: 20px ;
    }
    .my_info>ul li p:nth-of-type(2){
        font-size: 15px;
        width:185px
    }
    .my_info_1{
        margin-bottom: 0;
    }
    .my_info_1 li{
        margin-bottom: 17px;
    }
    .my_info_1 span:nth-of-type(1){
     margin-bottom: 10px;   
    }
    .my_info .my_info_2 li p:nth-of-type(1){
    justify-content: flex-start;
    margin-right: 0;
    margin-bottom: 8px;
    }
    .my_info_2{
        display: flex;
    }
    .my_info_2 li{
        width: 200px;
        flex-flow: column;
    }
    .my_info_2 span:nth-of-type(even){
        font-size: 13px;
    }
    .my_info_2 span:nth-of-type(odd){
        font-size: 12px;
    }
    .my_info_2 span>br{
        display: inline;
      }

    .skill_box{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding:35px 20px 20px;
    }
    .skill_box p{
        margin: 0;
    }
    .skill{
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .skill>li{
        margin: 0;
    }
    .skill>li:nth-of-type(3n){
        margin: 0;
    }
    
    /* about end*/
    /* 퍼블리싱 */
    .page3{
        overflow: hidden;
        padding: 10px;
    }
    .pb_title h1{
      font-size: 60px;
    }
    .pb_title p{ 
    font-size: 17px;
    }
    .publishing_img img{
    width: 430px;
    height: 230px;
    }
    .pb_content{
        justify-content: center;
        margin-bottom: 30px;
    }
    .pb_content .pb_text{
        padding: 0;
        width: 36%;
        padding-left: 20px;
        font-size: 12.5px;
    }
    .pb_text p:nth-of-type(3){
    font-size: 23px;
    }
    /* 퍼블버튼 */
    .btn_box{
        width: 600px;
    }

    .btn_box li{
        width: 120px;
    }
    .btn_box .redesign_site{
        width: 200px;
    }
    /* 퍼블리싱 끝 */
    /* 디자인 */
    .page4{
        padding-top: 100px;
    }
    /* 팝업 */

    .d_popup{
        text-align: center;
        padding: 0;
        margin-bottom: 0;
    }
    .d_banner{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .des_title{
        font-size: 60px;
    }
    .d_popup>p{
        font-size: 15px;
        text-align: center;
        width: 100%;
        line-height: 25px;
    }
    .pu_title{
        font-size: 40px;
    }
    .size{
        width: 100px;
        font-size: 15px;
    }
    .size.pop{margin-bottom: 0;}

     div.station2{
        overflow-x: hidden;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        height: 450px;
        width: 700px;
        box-sizing: border-box;
        align-items: center;
    }   
    .train2{
        transition: transform 1s ease;
        display: flex;
        width: 400%;
        justify-content: center;
        flex-flow: row nowrap;
        box-sizing: border-box;
    }
    .controler2,.controler3{
        position:absolute;
        height: 0;
        width:98%;
        left:50%;
        top:40%;
        transform:translate(-50%,0);
        display: flex;
        font-size: 70px;
        transition: 0.5s all ease 0s;
        justify-content: space-between;
        z-index: 1;
    }
    .train2>li{
        z-index: 2;
        padding: 0;
        margin: 50px;
       }
    .train2>li:nth-of-type(2n-1){
        padding-top:0px ;
    }
    .btn_prev2:hover,
    .btn_next2:hover,
    .btn_prev3:hover,
    .btn_next3:hover{
        color: #FE5D58;
    }

    .train2 li:last-of-type{ margin: 0;}
    .train2 li:nth-of-type(4n){margin:50px; } 
    .card{
        width: 250px;
        height: 250px;
    }
    .card.banner{
        width: 500px;
    }
.card:hover .wrapper {
    transform: none;
}
    .on .card .wrapper {
        transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
     }
     .card:hover
     .wrapper::after {
        opacity: 0;
    }
    .on .card
.wrapper::after {
    opacity: 1;
}
.card:hover .wrapper::after {
    height: 0;
}
.on .card .wrapper::after {
    height: 120px;
}
.card:hover .card_info {
    transform: none;
    opacity: 0;
  }
  .on .card .card_info {
    transform: translate3d(0%, 0px, 300px);
    opacity: 1;
  }
  .card:hover .character {
    opacity: 0;
    transform: none;
}
.on .card .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}
  .banner.card:hover .character {
    transform: none;
    border: none;
}
  .on .banner.card .character {
    border: 3px solid silver;
    transform: translate3d(0%, -50%, 100px);
  
  }

  


    div.station3{
        position: relative;
        display: flex;
        flex-flow: column wrap ;
        height: 700px;
        width: 700px;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
    }
    .train3{
        transition: transform 1s ease;
        display: flex;
        flex-flow: row wrap;
        width: 1400px;
    }
    /* 디자인 끝 */
    /* 컨텍트 */
    .page5{
        font-size: 20px;
        padding: 0;
        height: 800px;
    }
    .page5 h1{
        font-size: 60px;
    }
    .e-mail{
        font-size: 40px;
    }
 

.page5 p{
  letter-spacing: 5px;
}
.dongainfo_popup{
    width: 100%;
    height: 50%;
}
.close{
    right: 30px;
}
}