html{
  scroll-behavior:smooth
  
}
body{
  background:url(../img/background3.jpg) fixed rgba(255, 255, 255, 0.4) no-repeat;
  background-blend-mode: screen;
  background-size: cover;
  background-attachment:fixed;
}

/* 헤더 */
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background: #FE5D58;
  border-radius: 5px;

}
body::-webkit-scrollbar-track {
  background: gray;

}
.header{
    width: 690px;
    height: 60px;
    border: 1px solid black;
    position: fixed;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: url(../img/background3.png) rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    z-index: 1; 
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(3, 1, 1, 0.4);
}
.logo{
    width: 50px;
    height: 50px;
}
.logo img{
  width: 100%;
  height: 100%;
}
nav>ul{
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: caveat;
    height: 30px;
}
nav>ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
nav>ul>li:hover{
  color: #fe5d58;
}
/* 햄버거메뉴  */
.icon.nav-icon-5{
    display: none;
}
.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon-5 span{
    background-color:#fe5d58;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  .nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .nav-icon-5.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .nav-icon-5.open span:nth-child(2){
    opacity:0;
  }
  .nav-icon-5.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }
/*햄버거메뉴  */
/* 헤더끝 */
section{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
/* 메인 */
/* home */
.page1{
  padding: 250px 0 130px 250px;
  font-family: caveat;
  font-weight: bold;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.page1 h1{  display: none;}
.page1 h2{
  font-size: 150px;
  width: 850px;
  /* margin-bottom: 230px; */
}
.page1 div{
  display: flex;
  justify-content: flex-end;
}
.page1 p{
  box-sizing: border-box;
  font-size: 25px;
  width: 770px;
  padding: 0 85px 8px 5px;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  border-bottom: 1px solid black;
}
.page1 p span{
  display: block;
letter-spacing: 10px;
width: 350px
}
.page1 p span:nth-of-type(2){
  color: #FE5D58;
  width: 266px;
}
/* home end */
/* about */
.page2{
  background: #000;
  color:#fff;
  padding: 165px 175px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page2 h1{display: none;}

.sentence{
  width: 570px;
  display: flex;
  flex-flow: column;
  position: absolute;
  font-family: caveat;
  font-size: 85px;
  top:-80px;
  right: 0;
}
.sentence span{
  padding-left: 30px;
  font-size: 15px;
  line-height: 25px;
  font-family: king;

}

.my{
  position: relative;
  display: flex;
  align-items: flex-end;
}
/* 사진 */
.my_img{
  width: 484px;
  height: 669px;
  overflow: hidden;
}
.my_img img{
  object-fit: cover;
width: 100%;
height: 100%;
}
/* 사진 끝 */
/* 인포 */
.my_info{
  width: 560px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 123px 113px 0;
}
.my_info>ul li{
  display: flex;
}
.my_info ul li p:nth-of-type(1){
  font-family: caveat;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  width: 110px;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.my_info>ul li p:nth-of-type(2){
    width: 390px;  
  display: flex;
    flex-flow: column;
    justify-content: flex-end;
    font-family: king;
    font-size: 19px;
}
/* 인적사항 */
.my_info_1{
  margin-bottom:30px ;
}
.my_info_1 li{
  margin-bottom: 30px;
}
.my_info_1 span:nth-of-type(1){
  margin-bottom: 17px;
}
/* 교육 경험 */
.my_info_2 li{
  margin-bottom: 15px;
}
.my_info_2 li:last-of-type{
  margin-bottom: 0px;
}
.my_info_2 span:nth-of-type(even){
  margin-bottom: 8px;
}
.my_info_2 span:nth-of-type(odd)
{  font-size: 15px;
    margin-bottom: 3px;
}
.my_info_2 span:last-of-type{
  margin-bottom: 0;
}
.my_info_2 span>br{
  display: none;
}
/* 인포스킬 */
.skill_box p{
  font-family: caveat;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.skill{
  width: 300px;
  height: 305px;
  display: flex;
  flex-flow: row wrap;
}
.skill>li{
  margin-right: 60px;
}
.skill>li:nth-of-type(3n){
  margin: 0 0 60px 0;
}
.skill>li img{
  width: 60px;
  height: 60px;
}
.skill>li:nth-of-type(1) img{
  animation: updown 1.3s ease infinite 1s alternate;
}
.skill>li:nth-of-type(2) img{
  animation: updown 1.3s ease infinite 1.2s alternate;
}
.skill>li:nth-of-type(3) img{
  animation: updown 1.3s ease infinite 1.4s alternate;
}
.skill>li:nth-of-type(4) img{
  animation: updown 1.3s ease infinite 1.6s alternate;
}
.skill>li:nth-of-type(5) img{
  animation: updown 1.3s ease infinite 1.8s alternate;
}
.skill>li:nth-of-type(6) img{
  animation: updown 1.3s ease infinite 2s alternate;
}
.skill>li:nth-of-type(7) img{
  animation: updown 1.3s ease infinite 2.2s alternate;
}

/* 인포스킬 끝 */
/* 퍼블리싱 */
.page3{
  padding:143px 400px 83px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/* 퍼블타이틀 */
.pb_title{
  position: relative;
  width: 500px;
  left: 10%;

}
.pb_title h1{
  font-size: 85px;
  font-weight: bold;
  font-family: caveat;
  text-transform: capitalize;
}
.pb_title p{ 
  font-family: imh;
  font-weight: bold;
  top:-10px;
  left: 80px;
  position: absolute;
  font-size: 20px;
  color: #FE5D58;
}
/* 퍼블컨텐츠 */
.train>li{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.pb_content{
  display: flex;
  margin:40px 0 60px;
}
.publishing_img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.publishing_img img{
  width: 800px;
  height: 450px;
}

.pb_content .pb_text{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-flow: column;
  font-family: king;
  font-size: 15px;
  line-height: 22px;
  padding: 82px 0 40px 50px;
}
.pb_text p:nth-of-type(1){
  width: 370px;
  margin-bottom: 10px;
}
.pb_text p:nth-of-type(2){
  margin-bottom: 25px;
}
.pb_text p:nth-of-type(3){
  font-family: kcc;
  font-weight: 400;
  font-size: 35px;
}
.pb_text ul{
  margin-top: 20px;
}
.pb_text ul li{
  margin-bottom: 25px;
}
.pb_text ul li span:nth-of-type(1){
  text-transform: uppercase;
  margin-right: 35px;
}
.pb_text ul li span:nth-of-type(2){
  text-transform: capitalize;
}
/* 퍼블버튼 */
.btn_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 778px;
}
.btn_box li{
  border: 1px solid rgba(0, 0, 0, 0.336);
  text-transform: capitalize;
  width: 160px;
  height: 50px;
  border-radius: 50px;
  background: #D9D9D9;
  font-family: caveat;
  font-size: 28px;
}
.btn_box li:hover{
  background: black;
  color: #D9D9D9;
}
.btn_box li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.btn_box .redesign_site{
  width: 265px;
  background: #FE5D58;
  color: white;
}
.btn_box .redesign_site:hover{
  background: white;
  color: #FE5D58;
  
}

/* 퍼블리싱 끝 */
/* 디자인 */
/* 팝업배치 */
.page4{
  font-family: caveat;
  height: 100%;
  padding-bottom: 150px;
}
.d_popup{
  width: 100%;
  padding: 110px 0 0;
  box-sizing: border-box;
  margin-bottom: 200px;
}
.des_title{
  text-transform: capitalize;
  font-family: caveat;
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 35px;
}
.d_popup>p{
  line-height:40px ;
  width: 345px;
  font-family: king;
  font-size: 25px;
  margin-bottom: 40px;
}
.des_title i{
color: #FE5D58;
}
.d_popup>div{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.pu_title{
  font-size: 60px;
  font-weight: bold;
}
.size{
  margin: 15px 0 45px;
  width: 150px;
  height: 35px;
  background: #FE5D58;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.station2{
  width: 100%;
  max-width: 1370px;
}
.train2{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.train2 li{
  padding: 20px;
}
.train2 li:nth-of-type(4n){
  margin-right: 0;
  /* margin-bottom: 70px; */
}
.train2 li:last-of-type{
  margin: 0;
}

/* 팝업효과 */
.card {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective:1800px;
}
.card.banner{
  width: 600px;
  perspective:1500px;

}

.cover-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  /* box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
  /* -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); */
}


.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.7s ease;
  position: absolute;
  left: 0;
}

.wrapper::after {
  bottom: 0;
  opacity: 0;
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
/* 카드호버시 인포디자인 */
.card_info {
  font-family: king;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;  
  background: white;
  transition: all 0.7s ease;
  opacity: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 20px;
  pointer-events: none;
}
.card_info p{
  padding: 4px;
}

.card_info p:nth-of-type(1){
  font-size: 20px;
}
.card_info p:nth-of-type(2){
  font-size: 15px;
}
.card_info p:nth-of-type(3){
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_box span{
  border: 1px solid black;
  display: block;
  width: 50px;
  height:15px;
  margin: 3px;
}
/* 팝업 개인 색 */

.ff .co_1{background: linear-gradient(0.25turn, #FF4A3F,#FF6300, #FFFFFF,#F59842,#F49440);}
.ff .co_2{background: #D82D34 ;}
.ff .co_3{background: #000000;}

.st11 .co_1{background: linear-gradient(0.25turn, #DB334D, #DB3452, #C12ACF);}
.st11 .co_2{background: #DC3352 ;}
.st11 .co_3{background: linear-gradient(0.25turn, #DC46DB, #9369E7, #5D92F2);}

.nodam .co_1{background: #5ca5ff ;}
.nodam .co_2{background: #ffffff ;}
.nodam .co_3{background: #000000 ;}

.ars .co_1{background: #d80313  ;}
.ars .co_2{background: #9c824a ;}
.ars .co_3{background: #023474 ;}

.newy .co_1{background: #000000 ;}
.newy .co_2{background: #ffffff ;}

.bf .co_1{background: #00d143  ;}
.bf .co_2{background: #000000 ;}
.bf .co_3{background: #ffffff ;}

.newy2 .co_1{background: linear-gradient(0.25turn, #f3e0cc,#de6e6d);}
.newy2 .co_2{background: #1d3146 ;}
.newy2 .co_3{background: #E7714E ;}

.pep .co_1{background: #CDDB08 ;}
.pep .co_2{background: #EE3F42 ;}
.pep .co_3{background: #056BAA ;}
/* 팝업 개인 색 끝 */
.card:hover .card_info {
  transform: translate3d(0%, 0px, 300px);
  opacity: 1;
}

.character {
  pointer-events: none;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
.banner.card:hover .character {
  border: 3px solid silver;
  transform: translate3d(0%, -50%, 100px);

}

/* 팝업끝 */
/* 배너 */
.d_banner{

}
.d_banner>div{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.train3{
display: flex;
flex-flow: row wrap;
width: 1370px;
justify-content: space-around;
}
.train3 li:nth-of-type(2n){
  margin-right: 0;
  margin-bottom: 70px;
}
.train3 li:last-of-type{
  margin: 0;
}
/* 배너 개인색 */
.banner .cm .co_1{ background: #A80D35;}
.banner .cm .co_2{ background: #FFF1DC;}
.banner .cm .co_3{ background: #F8E2D5;}

.banner .bf .co_1{ background: #FED402;}
.banner .bf .co_2{ background: #D9B500;}
.banner .bf .co_3{ background: black;}

.banner .da .co_1{ background: #00ACCD;}
.banner .da .co_2{ background: white;}

.banner .gama .co_1{ background: #00ACCD;}
.banner .gama .co_2{ background: #F3F3F3;}
.banner .gama .co_3{ background: black;}
/* 배너 개인색 끝*/
/* 배너끝 */
/* 컨텍트 */
.page5{
  font-family: king;
  font-size: 23px;
  padding: 170px 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.controler2,.controler3{
  display: none;
}
.page5 h1{
  font-size: 100px;
  font-weight: bold;
  font-family: caveat;
}
.page5 h1,.e-mail,.page5 p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-mail{
  font-size: 60px;
  transition: 0.3s all;
}
.e-mail:hover
{ 
  color: #FE5D58;
}
.page5 p{
  width: 100%;
  letter-spacing: 10px;
}
.page5 p br{
  display: none;
}
/* 플랜 팝업창 */
.plan_popup{
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
.plan_popup.on{
  opacity: 1;
  pointer-events: all;
}

.dongainfo_popup{
  position: relative;
  width: 70%;
  height: 70%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.dongainfo_popup>div{
  width: 100%;
  height: 100%;
  overflow: auto;

}
.dongainfo_popup div img{
  width: 100%;
  min-width: 1300px;

}
.close{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-family: king;
  text-transform: uppercase;
  height: 30px;
  z-index: 4;
  top: -40px;
  right: 0;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
  background: #00ACCD;
  border: white;
  cursor: pointer;
}

@keyframes updown {
  0% {transform:translateY(0px)}
  100% {transform:translateY(-8px)}
}