@media (hover:none) {
}    

@media(max-width:768px){
    
    header {
        width: 100%;
    }

    header:hover {
        height: 100px;
    }
    header.on{
        height: 100px;
    }
    .nav {
        width: 100%;
    }
    header.on .nav{
        height: 100px;
     } 
     header.on .nav img{
    display: block;
}
    .nav h1 {
        width: 100%;
        justify-content: space-around;
        display: flex;
    }

    .nav h1>img {
        width: 42px;
        height: 37px;
    }

    .nav h1>p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #00C7E2;

    }

    .nav h1>p:first-of-type {
        font-size: 2.2rem;
        font-family: 'S-CORE8';
        font-weight: 800;
    }

    .nav h1>p:nth-of-type(2) {
        border: 1px solid;
        padding: 6px;
        border-radius: 5px; 
    }

    .menu{
        justify-content: flex-start;
        align-items: flex-start;
        background: white;
        width: 0%;
        /* js로 딸깍 ㄱ */
        height: 100%;
        flex-flow: column;
        top: 0;
        left: 0;
        z-index: 100;
        transition: 1.3s all ease 0s;
        position: fixed;
        overflow: hidden;
    }

    .menu.on {
        width: 100%;
    }

    .menu>div {
        display: block;
    }


    .menu>div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #00C7E2;
        margin-bottom: 30px;
    }

    .menu>div>img {
        width: 42px;
        height: 37px;
        display: flex;
        padding: 10px;
    }

    .menu>div>p {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: 'S-CORE8';
        font-weight: 800;
        color: #00C7E2;
    }

    header li>.box {
        bottom: 0;
        margin-top: 19px;
    }
    header.on:hover{
        height: 100px;
    }
    header.on:hover .nav>h1>img{
        display: none;
    }

    .innerbox {
        transition: 1.5s all ease 0s;
    }
    .menu>li {
        display: block;
        width: 100%;
        height: 50px;
        padding: 10px 0;
        border-bottom: 1px solid #00C7E2;
        transition: 0.8s all ease 0s;
        height: 30px;
        justify-content: flex-start;
        flex-flow: column;
        box-sizing: content-box;
        opacity: 0;
    }
    .menu.on>li{
        opacity: 1;
    }


    .menu>li:hover {
        height: 200px;
    }

    .menu>li>a {
        padding-left: 7%;
    }

    .menu>li>ul {
        height: auto;
        width: 100%;
        position: static;
        margin-left: 40px;
    }

    .menu>li>ul>li {
        /* box-sizing: content-box; */
        flex: 1;
        overflow: hidden;
        font-size: 13px;
        padding: 10px 0;
        width: 100%;
        height: 0px;
        transition: all 0.6s ease 0s;
        opacity: 0;
    }
    .menu>li:hover li{
        display: inline-block;
        height: 20px;
        opacity: 1;
    }
    .menu>li:nth-of-type(1):hover,
    .menu>li:nth-of-type(4):hover {
        height: 320px;
    }
    .menu>li:nth-of-type(2):hover{
        height: 280px;
    }
    .menu>li:nth-of-type(5):hover{
        height: 210px;
    }
    .menu>li:nth-of-type(6):hover {
        height: 150px;
    } 

    .menu>li:nth-of-type(6):hover {
        height: 15%;
    }
    .s-1,.s-2,.s-3 {
        display: none;
    }

    .banner div {
        height: 640px;
        flex-flow: column;
        width: 100%;
    }

    .banner div>h2 {
        align-items: center;
        justify-content: center;
        font-size: 55px;
    }

    .banner .ban1 div>img {
        width:240px;
        height:330px;;
        margin: 0 auto;
    }
    .brands{
        width: 100%;
        height: 700px;
    }
    .banner ul li .ban2{
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .banner ul li .ban2 div{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .banner ul li .ban2 img{
        width: 70%;
        height: 300px;    
    }
    .banner ul li .ban3{
        height: 50%;
    }
    .banner ul li .ban3 img{
        width: 100%;
        height: 100%;
    }
    .banner ul li .ban3 h2{
        text-align: center;
        font-size: 35px;
        line-height: 50px;
    }
    .banner ul li .ban3 h2 span{
        font-size: 50px;
        display: inline-block;
        margin-top: 0;
    }
.banner .ban3 span:nth-of-type(2){
    font-size: 40px;
    text-indent: 50px;
}
            .brand>.brand1,
    .brand>.brand1.nos,
    .brand>.brand1.pan,
    .brand>.brand1.tm{
        width: 100%;
        height: 700px;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
    }
.baro>a{
    font-size: 15px;
}
    .brand1>img {
        margin-bottom: 20px;
        width: 60%;
        height: 40%;
    }
    
    .brand1>p:nth-of-type(1) {
        font-size: 7rem;
        margin-top: 30px;
        font-weight: 900;
        display: block;
        color: white;
        text-transform: uppercase;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .brand1.pan>.panb{
        color: #c5933c;
    }
    .brand1.pan>.panb>span:first-of-type{
        color: #1c2088;
    }
    .brand1.pan>.panb>span:nth-of-type(2){
        color: #f13c37;
    }
    .brand1.nos>p:nth-of-type(1){
    color: #f58f86;
    }
    .brand1.nos>p:nth-of-type(2){
        color: #f58f86;
    
    }
    .brand1.tm>p:nth-of-type(2) {
    color: #01a438;
    }
    

/* 위,아래 종류별로 색변경 해야함  */
    .brand1>p:nth-of-type(2) {
        display: block;
        bottom: 107px;
        right: -94px;
        color: white;
        position: absolute;
        text-transform: uppercase;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 3.5rem;
        font-weight: 900;
        opacity: 60%;
        transform: rotate(90deg);
    }

    .brand1_info {
        display: none;
    }

    .brand1>.baro,
    .brand1>.baro.nosback,
    .brand1>.baro.panback,
    .brand1>.baro.tmback
    {
        padding: 0;
        width:150px;
        height: 40px;
        border-radius: 13px;
        background-color: #142147;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        margin-bottom: 40px;
    }
    .brand1>.baro.nosback{
        background: #f58f86;
    }
    .brand1>.baro.panback{
        background-size: 150px 40px;
        background: url('../img/panback.svg') 
    }
    .brand1>.baro.tmback{
        background: #01a438;
    }

    .station{
        height: 700px;
    }
    .pagination{
        bottom: 20px;
    right:50%;
    transform:translateX(50%);
        
    }

    .dLab {
        border: 5px solid #00C7E2;
        height: 100%;
    }

    .dLab>div {
        flex-flow: column;
    }

    .dLab_L {
        width: 100%;
        height: 100%;
        padding: 0;
        align-items: center;
        padding: 5% 10% 0;
    }

    .dLab_L img {
        width: 230px;
        height: 50px;
        margin: 10px 0 10px;
    }

    .dLab_L dt,
    .dLab_L dd {
        display: none;
    }

    .dLab_L dt:first-of-type {
        display: block;
        margin: 20px 0;
        font-size: 15px;
        line-height: 20px;
    }

    .dLab_L>p:first-of-type {
        font-size: 25px;
    }

    .dLab_R p,
    .dLab_R h3 {
        display: none;
    }

    .dLab_Rs>ul>li:nth-of-type(2),
    .dLab_Rs>ul>li:nth-of-type(4) {
        display: none;
    }

    .dLab_Rs {
        width: 100%;
    }

    .dLab_R {
        padding: 5%;
        height: 100%;
        background: white;
    }

    .dLab_R img {
        width: 200px;
        height: 130px;
    }
   
    .dLab_R>div {
        border-radius: 30px;
        border: 5px solid #00C7E2;
        width: 200px;
        height: 130px;
        position: relative;
        margin: 0 auto;
    }


    .dLab_R>div>p {
        position: absolute;
        display: flex;
        background: #00C7E2;
        bottom: -50px;
        width: 120px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .dLab_R>div>p>a {
        font-size: 16px;
        color: white;
        font-weight: 500;
    }

    .dLab_R.two {
        width: 100%;
        height: 100%;
        padding:  0 0;
    }
    .dLab_R.two>div{
        margin-bottom: 40px;        

        margin-top: 20px;        
    }
    .dLab_R p,
    .dLab_R h3 {
        display: none;
    }

    .dLab_Rs>ul {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .tr>li{
        opacity: 1;
        overflow: visible;
        position: relative;
    }
    .controler2{
        display: none;
    }
    .pagination2,.pagination2>li{
        display: none;
    }
    .tr .dLab_R{
        margin-bottom: 30px;
     }
   

    .hu {
        height: 950px;
        padding: 30px;
    }
    .tr>li:nth-of-type(3){margin-top: 30px;
    }

    .hu>h2 {
        padding: 0;
        font-size: 40px;
        width: 100%;
    }

    .hu>h2::after {
        width: 15px;
        height: 15px;
        top:-10px;
        right:auto;
    }
    .hu img{
    margin: 0;
    margin-top: 15px;
    width: 250px;
    height: 100px;
    }
.apply{
    flex-flow: column;
    padding: 0;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    align-items: center
}
.apply>div{
    margin: 25px 0 ;
    width: 100%;
    height: 70px;
    font-size: 18px;
}
.a-1{
    align-items: center;
    justify-content: space-between;
    padding: 0;
    flex-flow: row;
}
.a-2{
    flex-flow: row;
    justify-content:space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.hu_info{
margin: 0 auto;
}
.hu_info>div>p{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    flex-flow: column;
}
.hu_info>div>p:nth-of-type(2){
font-size: 14px;
line-height: 25px;
margin-bottom: 0;
}
.apply>.a-1>p:first-of-type{
    padding: 0;
padding-left:30px ;
}
.a-2>p{
    font-size: 12px;
padding: 0;
}
.a-2 span:nth-of-type(2){
    display: none;
}
.apply>.a-1>a:last-of-type{
margin: 0;
font-size: 13px;
width: 90px;
margin-right: 15px;
}
.apply>.a-1>a::after{
    display: none;
}
.hu_info>div>p>a{
    display: inline-block;
margin: 0 auto;
}
.news>h2{
    padding-top: 30px;
    font-size: 40px;
    width: 200px;
}
.news{
    height: 100%;
    overflow: visible;
}
.news>h2::after{
    width: 15px;
    height: 15px;
    top:20px;
    left:45px;
}
.news>p{
    font-size: 18px;
    margin-bottom: 25px;
}
.news>div{
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;
}
.news-m{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-flow: column;
    justify-content: space-between;
}
.photo{
    width: 100%;
    height: 400px;
    background: url('../img/qkrzktm.jpeg') no-repeat 0 0 /cover;

}
.nm-1{
    justify-content: center;
    width: 80%;
    height: 500px;
    margin-bottom: 20px;
}

.op_f{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.op_f a>p:first-of-type{
padding:5px;
font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    
}

.op_f p:first-of-type{
    font-size: 12px;    
    padding: 0;
    margin-top: 10px;

}
.sn{
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.nm-2{
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: space-around;
padding: 0;
}
.nm-2 h4{
    height: 30px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nm-2 h4::after{
    height: 5px;
    top:30px;
    margin: 0 auto;
}
.sn-1{
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    width: 100%;
    height: 100%;
}
.sn-1 img{
    height: 40%;
    width: 80%;
    flex: 2;
}
.sn-1>div{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}
.sn-1>div>a>p{
    margin: 0;
    margin-top: 5px;
    max-width: max-content;
    flex: 1;
    font-size: 15px;
}
.sn-1>div>a{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
.sn-1>div>p{
    margin-top:10px ;
    width: 80%;
    text-align: center;

}
.last{
    height: 100%;
}
.last_m{
margin:30px 0;
flex-flow: column-reverse
;
margin-bottom: 0;

height: 100%;

}
.last_R{height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.last_L{
    height: 100%;
    width: 100%;
}
.last_L>h4 img{
    width: 40px;
    height: 36px;
    margin: 0;
    
}
.last_L>h4{
    margin: 0;
    font-size: 15px;
    justify-content: space-around;
}
.last_L ul,.last_L dl{
    flex-flow: row wrap;
    width: 100%;
    font-size: 13px;
    margin: 0 ;
    justify-content: space-around;
}

.last_L ul>li{
    margin:10px 0;
}
.last_L dl>dd{
    margin: 0;
}
.last_L dl>dd:first-of-type{
    margin: 0px 40px 5px;
}
.last_L dl>dt{
    margin: 0;
}
.last_L>p{
    text-align: center;
    font-size: 12px;
    margin:5px 0 10px;
}
.r-1{
    align-items: center;
    justify-content: center;
}
.r-2{
    width: 100%;
}
.r-2 img{
    margin: 0;
}
.r-1>li{ 
    font-size: 15px;
    margin-bottom: 10px;
    align-items: center;

}
.r-2>li{
    padding: 10px;
    flex-flow: row;
    margin: 0;
    align-items: center;
    justify-content: center;

}

.ad>div{
    width: 100%;
}
.ad>div>div{margin: 0;
}
.r-1>li>ul{
width: 225%;
height: 0;
right: auto;
justify-content: space-between;
overflow: auto
z-;
}
.r-1>li>ul>li{
    height: 25%;
    position: static;
}
.r-1>li>ul>li:nth-of-type(8){
    height: 40%;

}

.r-1.on>li>ul{
height: 400px;
flex-flow: column ;
opacity: 1;

}
}
