@media (min-width:769px) and (max-width:1024px){
    /* 화면너비가 최소 769픽셀 이상 최대 1024픽셀 이하인 경우 적용될 스타일 */
    .nav{
        width: 100%;
        justify-content: flex-start;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .nav .menu>li a{
        font-size: 16px;
    }
    header:hover{
        height: 400px;
    }    
    .menu{
        flex:1;
        justify-content: space-evenly;
        margin-right: 0;
    }
    .nav .menu>li>ul>li>a{
        font-size: 14px;
    }
    .menu ul>li{
        padding-bottom: 15px;
    }
    .s-1,.s-2,.s-3{display: none;}
    .brands{
        display: block;
        width: 100%;
        height: 600px;
    }
    .brand div{
        height: 600px;
    }
    /* 헤더끝 */
    /* 호버말고 터치식으로 변경해야함 */
    .banner{
        width: 100%;
        height: 800px;
    }
    .banner div{
        flex-flow: row;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .banner ul li div>h2{
        margin-top: 40px;
        font-size: 70px;
        padding-left:100px ;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
    }
    .banner .ban1>div{
        align-items: flex-end;
    }
    .banner div>img{
        margin: 0;
        margin-left: 0px;
    }
    .banner ul li .ban2{
        display: flex;
        flex-flow: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .banner ul li .ban2 div{
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .banner ul li .ban2 img{
    margin-left: 0px;
    height: 200px;
    }
    .banner .ban3{
    height: 50%;
    }
    .banner ul li .ban3{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
}
    .banner ul li .ban3 h2{padding: 0;}


    /* 브랜드시작 */
    .brand1_info{
        background: white;
    }
    .brand1_info>p{
        line-height: 37px;
        font-size: 55px;
    }
    .brand1_info>div>p:first-of-type{
        font-size: 25px;
    }
    .brand1_info>div>h3{
        font-size: 30px;
        line-height: 40px;
    }
    .brand1_info>div>p:nth-of-type(2){
        display: none;
    }
    .brand1_info.nos>div>p:first-of-type{
        font-size: 20px;
    }    
    .brand1_info.nos>div>img{
        width: 350px;
    }
    .brand1_info.pan>div>p:first-of-type{
        font-size: 33px;
        width: 400px;
    }    
    .brand1_info.tm>div>p:first-of-type{
        font-size: 33px;
        width: 270px;
        line-height: 45px;

    }
    .station{
        height: 100%;
    }
    
    /* 브랜드 끝 */
    /* 디랩시작 */
    .dLab{
        height: 600px;
    }
    .dLab_L{
        padding: 50px;
    }
    .dLab_L>p:first-of-type{
        font-size: 20px;
    }
    .dLab_L img{
        width: 245px;
        height: 60px;
        margin: 15px 0 15px;
    }
    .dLab_L dt:first-of-type{
        width: 100%;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 0px;
    }
    .dLab_L dt:nth-of-type(2) span{
        font-size: 18px;
    }
    .dLab_L dt:nth-of-type(2),
    .dLab_L dt:nth-of-type(3){
        font-size: 16px;    
        margin-top: 20px;
    }
    .dLab_L dd:nth-of-type(1),.dLab_L dd:nth-of-type(4){
        font-size: 18px;
        line-height: 25px;
        padding: 15px 30px;
    }   
    .dLab_L dd:nth-of-type(2),
    .dLab_L dd:nth-of-type(3),
    .dLab_L dd:nth-of-type(5){
        display: none;
    }
        
    .dLab_Rs>ul>li:nth-of-type(2),
    .dLab_Rs>ul>li:nth-of-type(4){
        display: none;
    }
    .dLab_R>div{
        width: 280px;
        height: 180px;
        border-radius: 30px;
        position: relative;
        margin: 0 auto;
    }
    .dLab_R>div>p{
        position: absolute;
        display: flex;
        background: white;
        bottom:-50px;
        border-radius: 40px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    .dLab_R>div>p>a{
        font-size: 16px;
        color: black;
        font-weight: 500;
    }
    .dLab_R img{
        width: 300px;
        height: 170px;
    }.dLab_R{
        height: 100%;
        padding: 60px 0 0;
    }
    .dLab_Rs{
        background: #00C7E2;
        height: 600px;
    }
    .dLab_Rs>ul{
        width: 500px;
        display: flex;
        flex-flow: column;
    }
    .dLab_R.two{
        height: 100%;
        padding: 90px 0 0;
    }
    .dLab_R p,.dLab_R h3{
        display: none;
    }
    .controler2{
        display: none;
    }
    .pagination2,.pagination2>li{
        display: none;
    }
    .tr>li{
        opacity: 1;
        overflow: visible;
        position: relative;
    }
    
    /* 디랩 끝 */
    /* 인재채용시작 */
    .hu{
        height: 1000px;
        overflow: hidden;
    }
    .hu>h2{
        padding-top: 35px;
        font-size: 40px;
    }
    .hu>h2::after{
        top:25px;
        width: 15px;
        height: 15px;
        right: auto;
        left: auto;
    }
    .hu_info{
        display: flex;
        justify-content: center;
    }
.hu_info>div>p:nth-of-type(2){
font-size: 16px;
}
.hu_info>div>p{
font-size: 27px;
}
    .hu img{
        margin-top: 40px;
        width: 300px;
        height: 100px;
    }
    .apply{
        justify-content: center;
        width: 500px;
        height: 500px;
        flex-flow: row wrap;
        margin: 20px auto;
    }
    .apply>div{
        z-index: 10;
        margin: 15px;
        width: 220px;
        height: 220px;
        font-size: 25px;
    }
    .a-1{
        align-items: center;
    }
    .apply>.a-1>p:first-of-type{
        padding: 30px 0;
    }
    .a-2{
        justify-content: space-around;
    }
    .a-2>p{
        text-align: center;
        padding: 0;
    }
    .a-2>p span img{
        margin: 0;
        width: 20px;
        height: 20px;
    }

    /* 인재채용끝 */
    /* 새소식 */
    .news{
        height: 1000px;
    }
    .news>h2{
        padding: 30px;
        font-size: 40px;
        margin-bottom: 0px;
    }
    .news>h2::after{
        top:18px;
        left: 72px;
        width: 15px;
        height: 15px;
    }
    .news>p{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }   
    .news-m{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        flex-flow: column;
    }
    .nm-1{
        justify-content: center;
        width: 100%;
    }
    .op_f{
        width: 100%;
        padding-left: 20px;
    } 
    .op_f a>p:first-of-type{
        font-size: 25px;
        line-height: 35px;
        padding-left: 10px;
    }
    .op_f p:first-of-type{
        font-size: 18px;    
        padding-top: 15px;
    }
    .photo{
        width: 500px;
        height: 400px;
    }
    .sn{
        width: 100%;
        flex-flow: row;
        justify-content: center;
    }
    .sn-1{
        margin:  10px;
        flex-flow: column;
    }
    .sn-1:nth-of-type(1){
        margin-left: 20px;
    }
    .sn-1:nth-of-type(4){
        margin-right: 20px;
    } 
    
    .sn-1>div{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding-left: 0px;
        padding-top: 10px;
    }
    .sn-1>div>p{
        padding-top: 20px;
        font-size: 13px;
    }
   

    .nm-2{
        margin: 0 auto;
        width: 100%;
        padding-left: 0px;    
    }
    .nm-2 h4{
        margin:20px 20px 0;
        width: 100%;
    }
    .nm-2 h4::after{
        width: 60px;
    }
    .sn-1{
        font-size: 15px;
        margin-top: 20px;
    }
    .sn-1 img{
        width: 100%;
        height: 100%;
    }
    /* 새소식 끝 */
    /* 푸터시작 */
    .last_m{
        margin: 0 40px;
    }
    .last_L ul,.last_L dl{
        font-size: 15px;
    }

    /* 푸터끝 */

}
