@font-face {
    font-family: 'Caveat', cursive;
}
@font-face {
    font-family: 'kcc';
    src: url(../font/KCCDodamdodam\(Windows용\).ttf);
}
@font-face {
    font-family: 'imh';
    src: url(../font/IM_Hyemin-Regular.ttf);

}
@font-face {
    font-family: 'imh';
    src: url(../font/IM_Hyemin-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Bing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BinggraeTaom.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bing2';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Batang', serif;
}
@font-face {
    font-family: 'king';
    src: url(../font/KingSejongInstitute-bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'king';
    src: url(../font/KingSejongInstitute-Regular.ttf);

}
